:root {
    --font-titulo: "Montserrat", sans-serif;
    --cor-bg: #001727;
    --cor-fundo: #f8ede8;
    --cor-botao: rgb(255, 245, 245);
    --cor-preta: black;
    --cor-texto: #363636;
}

*{
  font-family: var(--font-titulo);
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: var(--cor-fundo);
    
}

.menu{
    display: block;
    
}

.menu .nav-menu{
    background-color: var(--cor-bg);
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    margin-top: 0;
    padding: 0 4%;

}

.menu .nav-items{
    font-size: 30px;
}
.nav-menu img{
    width: 130px;
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    color: var(--cor-fundo);
    transition: .5s;
    border-radius: 15px;
    padding: 20px;
  }

.btt-cv{
    padding: 20px;
    background-color: var(--cor-botao);
    font-size: 20px;
    border-radius: 15px;
    border-style: none;
    transition: 0.5s;
}

.btt-cv:hover{
    transform: scale(1.05);
    transition: 1s;
    box-shadow: 0px 0px 8px #A9A9A9;
}

.nav-link:hover {
    color: var(--cor-bg);
    background-color: #f8ede8;
    padding: 20px;
    border-radius: 15px;
}

main {
    margin: 40px 4%;
}

.cont-primario{
    gap: 40px;
    display: flex;
    justify-content: center;
    padding: 40px 4%;
    align-items: center;
}
.cont-primario img{
    width: 250px
}
.cont-primario h3{
    font-size: 40px;
    color: var(--cor-bg);
}
.cont-primario h3 span{
    color: var(--);
}

.cont-primario p{
    text-align: justify;
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-texto);

}
.cont-primario button{
    margin-top: 30px;
    border-radius: 15px;
    padding: 20px;
    border-style: none;
    color: var(--cor-fundo);
    font-size: 20px;
    background-color: #001727;
    box-shadow: 0 0 8px var(--cor-bg);
    transition: .5s;
}
.cont-primario button:hover{
    margin-top: 30px;
    border-radius: 15px;
    padding: 20px;
    border-style: none;
    color: var(--cor-fundo);
    font-size: 20px;
    background-color: #001727;
    box-shadow: 0 0 8px var(--cor-bg);
    transform: scale(1.05);
    transition: .5s;

}
.cont-sobre{
    margin-top: 5em;
    display: flex;
    background-color: #001727;
    padding: 40px 4%;
    gap: 40px;
    color: var(--cor-fundo);
    align-items: center;
    border-radius: 100px;

    
}

.cont-sobre h3{
    font-size: 50px;
}

.cont-sobre p{
    text-align: justify;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.cont-sobre img{
    width: 800px;
    border-radius: 50px;
    box-shadow: 0 0 5px var(--cor-fundo);
}
