:root {
    --font-titulo: "Montserrat", sans-serif;

    --cor-fundo: #f8ede8;
    --cor-botao: rgb(255, 248, 237);
    --cor-preta: black;
    --cor-texto: #363636;
}

*{
  font-family: var(--font-titulo);
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: var(--cor-fundo);

}

.menu{
    display: block;
    padding: 0 4%;

}

.menu .nav-menu{
    border: solid red 1px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px;
    align-items: center;
    margin-top: 0;

}

.menu .nav-items{
    font-size: 30px;
}

.nav-link {
    text-decoration: none;
    color: var(--cor-texto);
    transition: .5s;
}

.btt-cv{
    padding: 20px;
    background-color: var(--cor-botao);
    font-size: 20px;
    border-radius: 50px;
    border-style: none;
    transition: 0.5s;
}

.btt-cv:hover{
    transform: scale(1.05);
    transition: 1s;
    box-shadow: 0px 0px 8px #A9A9A9;
}

.nav-link:hover {
    color: #A9A9A9;
    transition: .5s;
}